/*  your css code here. If applicable */
h1 {
	text-align: center;
}

#table-1 {
	width: 100%;
}

th, td {
	border: 1px solid black;
}

.right {
	text-align: right;
}

#t12, #t22, #t32 {
	text-align: center;
}

#table-2 {
	width: 100%;
	margin: 40px auto;
}

#table-2 td {
	width: 20px;
}

.first {
	height: 18px;
}
.second {
	height: 18px;
}

.row1 {
	background-color: green;
}

.row2 {
	background-color: blue;
}

#table-3 {
	width: 100%;
}

#t-image {
	width: 100%;
	
}