/*  your css code here. If applicable */
h1 {
	text-align: center;
}

#table-1 {
	width: 100%;
}

th, td {
	border: 1px solid black;
	padding: 1px;
}

.right {
	text-align: right;
}

#t12, #t22, #t32 {
	text-align: center;
}

#table-2 {
	width: 100%;
	margin: 40px auto;
}

#table-2 td {
	width: 20px;
}

.first {
	height: 18px;
}

.second {
	height: 18px;
}

.green {
	background-color: green;
	height: 18px;
}

.blue {
	background-color: blue;
	height: 18px;
}

#table-3 {
	width: 100%;
}

#t-image {
	width: 100%;
	
}
table {
	border-spacing: 1px;
}